body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.chart {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 5px;
}

.tooltip {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 270px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: Arial, sans-serif;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 120%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.container {
    margin: 20px;
}

.control-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 320px;
}

label {
    font-weight: bold;
}

input[type="number"],
input[type="date"],
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 150px;
}

input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#mode-select {
    width: 167px;
}

#sensor-chart {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mode-text {
    font-weight: bold;
    margin-left: 5px;
}


